Django==1.10.3
django-crispy-forms==1.6.1
django-formtools==1.0
humanize==0.5.1
matterhook==0.1
oauthlib==2.0.1
py-trello==0.7.0
python-dateutil==2.6.0
pytz==2016.7
requests-oauthlib==0.7.0
requests==2.12.1
six==1.10.0
whitenoise==3.2.2
unipath==1.1